In [83]:
import pandas as pd

In [84]:
df = pd.read_csv("output_30d.csv", header=0)
df = df.drop(df.columns[[0, 1, 2]],axis = 1) ## drop unnecessary column by index
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8579 entries, 0 to 8578
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          8579 non-null   int64
 1   id                  8579 non-null   int64
 2   address             8579 non-null   object
 3   abuse_type_id       8579 non-null   int64
 4   abuse_type_other    2369 non-null   object
 5   abuser              8569 non-null   object
 6   description         8579 non-null   object
 7   from_country        8579 non-null   object
 8   from_country_code   8579 non-null   object
 9   created_at          8579 non-null   object
 10  crypto_type         1734 non-null   object
 11  no_of_transactions  8579 non-null   int64
 12  total_received      6919 non-null   float64
 13  total_sent          6919 non-null   float64
dtypes: float64(2), int64(4), object(8)
memory usage: 938.5+ KB

In [85]:
print(df.shape)
df.drop_duplicates()
print(df.shape)

(8579, 14)
(8579, 14)

In [86]:
df.head(10)

,Unnamed: 0,id,address,abuse_type_id,abuse_type_other,abuser,description,from_country,from_country_code,created_at,crypto_type,no_of_transactions,total_received,total_sent
0,0,686404,37PAfYtrCwoCXYbpqJLpoHwG3WnCtTmVD4,3,NaN,cityinvestgp,I was ripped off by cityinvestgp and lost all ...,United States,US,2022-10-09T00:18:35.000000Z,btc,2,0.038579,0.038579
1,1,686414,33RwtZmppTHRYweSpR86fs2cn1B99uJh4D,3,NaN,cityinvestgp,I was ripped off by cityinvestgp and lost all ...,United States,US,2022-10-09T00:20:24.000000Z,bch,0,0.000000,0.000000
2,2,686424,3MUVo5TPhUg7b28WEzvE6niLSWC8v4vYXF,3,NaN,cityinvestgp,I was ripped off by cityinvestgp and lost all ...,United States,US,2022-10-09T00:21:27.000000Z,bch,0,0.000000,0.000000
3,3,686434,17PNS1FDny5yzs4dd9bmDNfB4nzuqpg9fz,3,NaN,cityinvestgp,I was ripped off by cityinvestgp and lost all ...,United States,US,2022-10-09T00:22:18.000000Z,btc,117,0.702167,0.702167
4,4,686444,3CwEaqc8nD3D8AMwA7i5E8Wrwp3RbTLZLQ,3,NaN,cityinvestgp,I was ripped off by cityinvestgp and lost all ...,United States,US,2022-10-09T00:23:13.000000Z,bch,0,0.000000,0.000000
5,5,686454,bc1qv7r6mek7kweznsk25g04zdqt7229jp4m2q6qwc,3,NaN,cityinvestgp,I was ripped off by cityinvestgp and lost all ...,United States,US,2022-10-09T00:24:31.000000Z,NaN,0,NaN,NaN
6,6,686464,bc1qrxeecc52dfktp4qw32fpfmgwzn99udk3chr7va,99,giveawayscam,tesla-mining.info,This is a cryptocurrency giveaway scam,United States,US,2022-10-09T00:39:12.000000Z,btc,3,0.004496,0.004168
7,7,686474,bc1qrxeecc52dfktp4qw32fpfmgwzn99udk3chr7va,99,giveawayscam,elon-doge.com,This is a cryptocurrency giveaway scam,United States,US,2022-10-09T00:43:06.000000Z,btc,3,0.004496,0.004168
8,8,686484,bc1qezkurufrx7sr3exrtrhgscmvrxk8wlmw5gncdx,4,NaN,Smtop on wickr,Scammer who claimed to be investing. Seems to ...,United States,US,2022-10-09T00:44:45.000000Z,btc,2,4.280449,4.280449
9,9,686494,bc1qezkurufrx7sr3exrtrhgscmvrxk8wlmw5gncdx,2,NaN,Smtop,"Seems to be soliciting the sale of drugs, has ...",United States,US,2022-10-09T00:47:28.000000Z,btc,2,4.280449,4.280449

**Check number of uniqe valuse in all column**

In [87]:
for col in df:
  print(col," : ",len(df[col].unique()))

Unnamed: 0  :  8579
id  :  8579
address  :  1612
abuse_type_id  :  6
abuse_type_other  :  354
abuser  :  2831
description  :  2939
from_country  :  1
from_country_code  :  1
created_at  :  8551
crypto_type  :  3
no_of_transactions  :  186
total_received  :  710
total_sent  :  636

## Experiment

In [88]:
df2 = pd.read_csv("transaction_dataset.csv", header=0)
df2 = df2.drop(df2.columns[[0, 1]],axis = 1) ## drop unnecessary column by index
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9841 entries, 0 to 9840
Data columns (total 49 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Address                                               9841 non-null   object
 1   FLAG                                                  9841 non-null   int64
 2   Avg min between sent tnx                              9841 non-null   float64
 3   Avg min between received tnx                          9841 non-null   float64
 4   Time Diff between first and last (Mins)               9841 non-null   float64
 5   Sent tnx                                              9841 non-null   int64
 6   Received Tnx                                          9841 non-null   int64
 7   Number of Created Contracts                           9841 non-null   int64
 8   Unique Received From Addresses                        9841 non-null   int64
 9   Unique Sent To Addresses                              9841 non-null   int64
 10  min value received                                    9841 non-null   float64
 11  max value received                                    9841 non-null   float64
 12  avg val received                                      9841 non-null   float64
 13  min val sent                                          9841 non-null   float64
 14  max val sent                                          9841 non-null   float64
 15  avg val sent                                          9841 non-null   float64
 16  min value sent to contract                            9841 non-null   float64
 17  max val sent to contract                              9841 non-null   float64
 18  avg value sent to contract                            9841 non-null   float64
 19  total transactions (including tnx to create contract  9841 non-null   int64
 20  total Ether sent                                      9841 non-null   float64
 21  total ether received                                  9841 non-null   float64
 22  total ether sent contracts                            9841 non-null   float64
 23  total ether balance                                   9841 non-null   float64
 24   Total ERC20 tnxs                                     9012 non-null   float64
 25   ERC20 total Ether received                           9012 non-null   float64
 26   ERC20 total ether sent                               9012 non-null   float64
 27   ERC20 total Ether sent contract                      9012 non-null   float64
 28   ERC20 uniq sent addr                                 9012 non-null   float64
 29   ERC20 uniq rec addr                                  9012 non-null   float64
 30   ERC20 uniq sent addr.1                               9012 non-null   float64
 31   ERC20 uniq rec contract addr                         9012 non-null   float64
 32   ERC20 avg time between sent tnx                      9012 non-null   float64
 33   ERC20 avg time between rec tnx                       9012 non-null   float64
 34   ERC20 avg time between rec 2 tnx                     9012 non-null   float64
 35   ERC20 avg time between contract tnx                  9012 non-null   float64
 36   ERC20 min val rec                                    9012 non-null   float64
 37   ERC20 max val rec                                    9012 non-null   float64
 38   ERC20 avg val rec                                    9012 non-null   float64
 39   ERC20 min val sent                                   9012 non-null   float64
 40   ERC20 max val sent                                   9012 non-null   float64
 41   ERC20 avg val sent                                   9012 non-null   float64
 42   ERC20 min val sent contract                          9012 non-null   float64
 43   ERC20 max val sent contract                          9012 non-null   float64
 44   ERC20 avg val sent contract                          9012 non-null   float64
 45   ERC20 uniq sent token name                           9012 non-null   float64
 46   ERC20 uniq rec token name                            9012 non-null   float64
 47   ERC20 most sent token type                           9000 non-null   object
 48   ERC20_most_rec_token_type                            8990 non-null   object
dtypes: float64(39), int64(7), object(3)
memory usage: 3.7+ MB

In [89]:
print(df2.shape)
df2.drop_duplicates()
print(df2.shape)

(9841, 49)
(9841, 49)

In [90]:
df2.head(10)

,Address,FLAG,Avg min between sent tnx,Avg min between received tnx,Time Diff between first and last (Mins),Sent tnx,Received Tnx,Number of Created Contracts,Unique Received From Addresses,Unique Sent To Addresses,...,ERC20 min val sent,ERC20 max val sent,ERC20 avg val sent,ERC20 min val sent contract,ERC20 max val sent contract,ERC20 avg val sent contract,ERC20 uniq sent token name,ERC20 uniq rec token name,ERC20 most sent token type,ERC20_most_rec_token_type
0,0x00009277775ac7d0d59eaad8fee3d10ac6c805e8,0,844.26,1093.71,704785.63,721,89,0,40,118,...,0.000000,1.683100e+07,271779.920000,0.0,0.0,0.0,39.0,57.0,Cofoundit,Numeraire
1,0x0002b44ddb1476db43c868bd494422ee4c136fed,0,12709.07,2958.44,1218216.73,94,8,0,5,14,...,2.260809,2.260809e+00,2.260809,0.0,0.0,0.0,1.0,7.0,Livepeer Token,Livepeer Token
2,0x0002bda54cb772d040f779e88eb453cac0daa244,0,246194.54,2434.02,516729.30,2,10,0,10,2,...,0.000000,0.000000e+00,0.000000,0.0,0.0,0.0,0.0,8.0,None,XENON
3,0x00038e6ba2fd5c09aedb96697c8d7b8fa6632e5e,0,10219.60,15785.09,397555.90,25,9,0,7,13,...,100.000000,9.029231e+03,3804.076893,0.0,0.0,0.0,1.0,11.0,Raiden,XENON
4,0x00062d1dd1afb6fb02540ddad9cdebfe568e0d89,0,36.61,10707.77,382472.42,4598,20,1,7,19,...,0.000000,4.500000e+04,13726.659220,0.0,0.0,0.0,6.0,27.0,StatusNetwork,EOS
5,0x000895ad78f4403ecd9468900e68d6ee506136fd,0,9900.12,375.48,20926.68,2,3,0,2,1,...,0.000000,0.000000e+00,0.000000,0.0,0.0,0.0,0.0,0.0,0,0
6,0x000d63fc5df52b0204374c2f5a3249779805d5d1,0,69.46,629.44,8660.35,25,11,0,9,20,...,0.000000,0.000000e+00,0.000000,0.0,0.0,0.0,0.0,0.0,0,0
7,0x000e001ab444fa8d6dc4a402f8d7cfc88fe8c64d,0,1497.39,176.84,319828.05,213,5,0,3,3,...,0.000000,0.000000e+00,0.000000,0.0,0.0,0.0,0.0,7.0,None,XENON
8,0x0012cb699c836049a4bbeaac2d8c4d47c688e0e4,0,0.00,0.00,496.62,1,1,0,1,1,...,0.000000,0.000000e+00,0.000000,0.0,0.0,0.0,0.0,0.0,0,0
9,0x0012f247c9f980eea0a9ad06893bfd95c3145794,0,2570.59,3336.01,30572.70,8,3,0,2,4,...,0.000000,0.000000e+00,0.000000,0.0,0.0,0.0,0.0,1.0,None,AICRYPTO

In [91]:
print(df2['FLAG'].value_counts())

0    7662
1    2179
Name: FLAG, dtype: int64

In [92]:
df_=df2.loc[df2['FLAG'] == 1]
df_.shape

(2179, 49)

In [93]:
df3=pd.read_csv("address_final.csv",header=0)
df3 = df3.drop(df3.columns[[0, 1, 2]],axis = 1) ## drop unnecessary column by index
print(df3.shape)
df3.drop_duplicates()
print(df3.shape)

(5839, 17)
(5839, 17)

In [94]:
df3=df3.loc[df3['crypto_type'] == 'ETH']
print(df3.shape)
df3.tail(10)

(3958, 17)

,address,name,type,url,hostname,featured,path,category,subcategory,description,reporter,severity,updated,crypto_type,no_of_transactions,total_received,total_sent
3997,0xfddBfa1b0B93612b95e3296690b63B74D019370C,eth953883.htmlcomponentservice.com,scam,http://eth953883.htmlcomponentservice.com,eth953883.htmlcomponentservice.com,0,/*,Scamming,Trust-Trading,Trust-Trading scam,CryptoScamDB,1.0,1.667236e+12,ETH,58,26.179821,26.177498
3999,0xfe3132D0129310EC46F1D2e2d577B3C9A7251cA2,elon-ethereum.com,scam,https://elon-ethereum.com,elon-ethereum.com,0,/*,Scamming,Trust-Trading,Trust trading scam site,CryptoScamDB,1.0,1.667239e+12,ETH,0,0.000000,0.000000
4000,0xfeDC43d08F2df67bb9087b461DB0298Ba95D5d3b,crypto-promotion-get.tech,scam,http://crypto-promotion-get.tech,crypto-promotion-get.tech,0,/*,Scamming,Trust-Trading,Trust trading scam site,CryptoScamDB,1.0,1.667236e+12,ETH,30,2.788593,2.760957
4001,0xfeaa2288d98FB4886A45bb153fcC05bc7a2De8DA,coinbase2x.online,scam,http://coinbase2x.online,coinbase2x.online,0,/*,Scamming,Trust-Trading,Trust trading scam site,CryptoScamDB,1.0,1.667236e+12,ETH,248,99.080577,98.765486
4002,0xff0e20E3A7575D823302bbB27E233c23f2c3070b,etherium.org.payment.7t24-srv.site,scam,http://etherium.org.payment.7t24-srv.site,etherium.org.payment.7t24-srv.site,0,/*,Scamming,Trust-Trading,Trust trading scam site,CryptoScamDB,1.0,1.667236e+12,ETH,0,0.000000,0.000000
4003,0xff0e20E3A7575D823302bbB27E233c23f2c3070b,medium.com.7t24-srv.site,scam,http://medium.com.7t24-srv.site,medium.com.7t24-srv.site,0,/*,Scamming,Trust-Trading,Trust trading scam site. Linking users to ethe...,CryptoScamDB,1.0,1.667236e+12,ETH,0,0.000000,0.000000
4004,0xff481ca14E6C16B79fC8AB299B4D2387ec8eCDD2,ether-bonus.net,scam,http://ether-bonus.net,ether-bonus.net,0,/*,Scamming,Trust-Trading,Trust trading scam site.,CryptoScamDB,1.0,1.667236e+12,ETH,17,36.673777,36.665461
4005,0xff8e6af02d41a576a0c82f7835535193e1a6bccc,mediumblogsot.top,scam,http://mediumblogsot.top,mediumblogsot.top,0,/*,Scamming,Trust-Trading,Trust trading scam site.,CryptoScamDB,1.0,1.667236e+12,ETH,104,53.070252,53.053995
4006,0xff8e6af02d41a576a0c82f7835535193e1a6bccc,coinbasespromo.tumblr.com,scam,http://coinbasespromo.tumblr.com,coinbasespromo.tumblr.com,0,/*,Scamming,Trust-Trading,Trust trading scam site. Linking to mediumblog...,CryptoScamDB,1.0,1.667236e+12,ETH,104,53.070252,53.053995
4007,0xff8e6af02d41a576a0c82f7835535193e1a6bccc,mediumpost.ga,scam,https://mediumpost.ga,mediumpost.ga,0,/*,Scamming,Trust-Trading,Trust trading scam site.,CryptoScamDB,1.0,1.667236e+12,ETH,104,53.070252,53.053995

In [95]:
print(df3.shape)
df3.drop_duplicates(subset='address',inplace=True)
print(df3.shape)

(3958, 17)
(2991, 17)

In [96]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2991 entries, 0 to 4005
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   address             2991 non-null   object
 1   name                2991 non-null   object
 2   type                2991 non-null   object
 3   url                 2991 non-null   object
 4   hostname            2991 non-null   object
 5   featured            2991 non-null   int64
 6   path                2984 non-null   object
 7   category            2984 non-null   object
 8   subcategory         2970 non-null   object
 9   description         2852 non-null   object
 10  reporter            2983 non-null   object
 11  severity            2984 non-null   float64
 12  updated             2984 non-null   float64
 13  crypto_type         2991 non-null   object
 14  no_of_transactions  2991 non-null   int64
 15  total_received      2973 non-null   float64
 16  total_sent          2973 non-null   float64
dtypes: float64(4), int64(2), object(11)
memory usage: 420.6+ KB

In [97]:
print(df3.total_received.min(),df3.total_received.max(),df3.total_received.mean())
print(len(df3[df3.total_received.isnull()]))
print(len(df3[df3.total_received==0]))

0.0 1957506.4643742675 683.9924754459521
18
726

In [98]:
print(df3.no_of_transactions.min(),df3.no_of_transactions.max(),df3.no_of_transactions.mean())
print(len(df3[df3.no_of_transactions.isnull()]))
print(len(df3[df3.no_of_transactions==0]))

0 984 25.20929455031762
0
730

Checking the common address of CryoptoScamDB and Kaggle Scam Dataset

In [99]:
crypto_df = df3[['address']].copy()
kaggle_df = df_[['Address']].copy()
crypto_df.rename(columns = {'address':'Address'}, inplace = True)
crypto_df=crypto_df.drop_duplicates(keep='first')
kaggle_df=kaggle_df.drop_duplicates(keep='first')
print(crypto_df.shape)
print(kaggle_df.shape)

(2991, 1)
(2179, 1)

In [100]:
crypto_df=crypto_df.reset_index(drop=True)
kaggle_df=kaggle_df.reset_index(drop=True)

In [101]:
display(crypto_df)

                                         Address
0     0x0000000012ba45c32e4380a42ee524fe30502943
1     0x00000000445b63fff54af1ea544ff62ae96e0b15
2     0x0000000086c5d614bec59dfd2c9b88f7cb57f23c
3     0x00000000D029A3Ed50d891B9afd74B034179082e
4     0x00067010f3Ae17aa53e2B4d5142DDA35380cf72D
...                                          ...
2986  0xfeDC43d08F2df67bb9087b461DB0298Ba95D5d3b
2987  0xfeaa2288d98FB4886A45bb153fcC05bc7a2De8DA
2988  0xff0e20E3A7575D823302bbB27E233c23f2c3070b
2989  0xff481ca14E6C16B79fC8AB299B4D2387ec8eCDD2
2990  0xff8e6af02d41a576a0c82f7835535193e1a6bccc

[2991 rows x 1 columns]

In [102]:
display(kaggle_df)

                                         Address
0     0x0020731604c882cf7bf8c444be97d17b19ea4316
1     0x002bf459dc58584d58886169ea0e80f3ca95ffaf
2     0x002f0c8119c16d310342d869ca8bf6ace34d9c39
3     0x0059b14e35dab1b4eee1e2926c7a5660da66f747
4     0x005b9f4516f8e640bbe48136901738b323c53b00
...                                          ...
2174  0xff481ca14e6c16b79fc8ab299b4d2387ec8ecdd2
2175  0xff718805bb9199ebf024ab6acd333e603ad77c85
2176  0xff8e6af02d41a576a0c82f7835535193e1a6bccc
2177  0xffde23396d57e10abf58bd929bb1e856c7718218
2178  0xd624d046edbdef805c5e4140dce5fb5ec1b39a3c

[2179 rows x 1 columns]

In [103]:
crypto_df.info()
kaggle_df.info()
print(crypto_df.shape)
print(kaggle_df.shape)
print(len(crypto_df.Address.unique()))
print(len(kaggle_df.Address.unique()))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2991 entries, 0 to 2990
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Address  2991 non-null   object
dtypes: object(1)
memory usage: 23.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2179 entries, 0 to 2178
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Address  2179 non-null   object
dtypes: object(1)
memory usage: 17.1+ KB
(2991, 1)
(2179, 1)
2991
2179

In [104]:
resData = crypto_df.merge(kaggle_df, on="Address", how = 'inner' ,indicator=False)
resData.tail()

                                        Address
233  0xf985aa8117999fa3f0f9e71a20d0fe7b88b9d706
234  0xf9fe85e19bd533c69067c6e2ff02727d40a54100
235  0xfa3572b21b35cfe042ae940d5a74a9706882c6db
236  0xfbb62df5cbc8d0bc4c2a0e5c53b8602d49471495
237  0xff8e6af02d41a576a0c82f7835535193e1a6bccc

In [105]:
print("Common Addresses of CryptoScamDB and Kaggle Dataset",resData.shape)

Common Addresses of CryptoScamDB and Kaggle Dataset (238, 1)

In [115]:
df_all_rows = pd.concat([crypto_df, kaggle_df],join='inner',ignore_index=True)
print(df_all_rows.shape)
df_all_rows.drop_duplicates(keep='first',inplace=True)
print(df_all_rows)

(5170, 1)
                                         Address
0     0x0000000012ba45c32e4380a42ee524fe30502943
1     0x00000000445b63fff54af1ea544ff62ae96e0b15
2     0x0000000086c5d614bec59dfd2c9b88f7cb57f23c
3     0x00000000D029A3Ed50d891B9afd74B034179082e
4     0x00067010f3Ae17aa53e2B4d5142DDA35380cf72D
...                                          ...
5164  0xff35866acb80ce4b169d1460cd48108955c1c445
5165  0xff481ca14e6c16b79fc8ab299b4d2387ec8ecdd2
5166  0xff718805bb9199ebf024ab6acd333e603ad77c85
5168  0xffde23396d57e10abf58bd929bb1e856c7718218
5169  0xd624d046edbdef805c5e4140dce5fb5ec1b39a3c

[4932 rows x 1 columns]

In [111]:
display(df_all_rows)

                                         Address
0     0x0000000012ba45c32e4380a42ee524fe30502943
1     0x00000000445b63fff54af1ea544ff62ae96e0b15
2     0x0000000086c5d614bec59dfd2c9b88f7cb57f23c
3     0x00000000D029A3Ed50d891B9afd74B034179082e
4     0x00067010f3Ae17aa53e2B4d5142DDA35380cf72D
...                                          ...
5164  0xff35866acb80ce4b169d1460cd48108955c1c445
5165  0xff481ca14e6c16b79fc8ab299b4d2387ec8ecdd2
5166  0xff718805bb9199ebf024ab6acd333e603ad77c85
5168  0xffde23396d57e10abf58bd929bb1e856c7718218
5169  0xd624d046edbdef805c5e4140dce5fb5ec1b39a3c

[4932 rows x 1 columns]

In [114]:
df_all_rows.to_csv('MargedAddresses.csv')

**Check uniqe values for abuse type id, featured, path, category, reporter, severity columns**

In [ ]:
print("abuse type id : ",df['abuse_type_id'].unique())
print("from_country : ",df['from_country'].unique())
print("from_country_code : ",df['from_country_code'].unique())
print("crypto_type : ",df['crypto_type'].unique())

abuse type id :  [ 3 99  4  2  1  5]
from_country :  ['United States']
from_country_code :  ['US']
crypto_type :  ['btc' 'bch' nan]